@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

input:focus, .form-control:focus {
  outline: none;
  box-shadow: none ;
  border-color: black ; 
}

#Loginsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  height: 400px;
  max-height: 100vh;
  max-width: 80%;
  /* box-shadow: 0px 0px 15px 5px black; */
  /* border: 2px solid; */
}
.container,
.row {
  height: 100%;
}
.welcomesection {
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white;
  margin-top: -100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcomesection h1{
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-style: normal;
}
.welcomesection p {
  width: 60%;
  margin-top: 30px;
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
}
.inputsection{
  height: auto;
  margin-top: -70px;
}
.inputsection h1{
  margin-top: 30px;
}
.inputs{
  margin: 50px auto;
  width: 500px;
  max-width: fit-content;
}
.loginbtn{
  margin-bottom: 50px;
  background-color: black;
  color: white;
  border: none;
}
.linkitem{
  color:rgb(78,78,225);
  text-decoration: underline rgb(78,78,225);
  cursor: pointer;
}
.eyebtn2{
  position: absolute;
  right: 7px;
  top: 7px;
  color: rgb(161, 160, 160);
  background-color: transparent;
  cursor: pointer;
}
