.heading{
    display: inline;
    font-size: 2rem;
    width: 100%;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 50px;
    text-transform:uppercase;
    text-align: center;
    background-color: gray;
    color: white;
    border-bottom: 2px groove;
}
th{
    font-size: 2rem;
}
td{
    font-size: 1rem;
}
table{
    max-width:100%;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}
input{
    width: 90%;
    box-sizing: border-box;
    font-size: 0.8rem;
    background-color: rgb(244, 237, 237);
    border:none ;
    border-radius: 4px;
    margin-right: 15px;
    border-bottom: 2.5px outset;
}
.contact-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    font-size: small;
    margin: 0 auto;
}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    margin: 0 5px;
    border: none;
}
.Addbtn{
    background-color: rgb(9, 193, 9);
    border-radius: 5px;
    width: 50px;
    font-size: 1rem;
    color: white;
}
.deletebtn{
    background-color: rgb(226, 6, 6);
    border-radius: 5px;
    width: 50px;
    font-size: 1rem;
    color: white;
}
.footer{
    text-align: center;
    color: white;
    font-size: 1rem;
    background-color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    margin: 0px auto;
    width: 100%;
}

@media screen and (max-width: 992px) {
    h1 {
      display: block;
      margin: 10px auto;
      font-size: 2rem;
    }
    td{
        font-size: 0.8rem;
    }
    th {
      font-size: 1rem;
    }
    table {
      width: 100%;
      font-size: smaller;
    }
    .deletebtn{
        font-size: 0.8rem;
    }
    .Addbtn{
        font-size: 0.8rem;
    }
    .footer{
        display:none;
    }
  }
 